/JavaApplication/nbproject/private/
/JavaApplication/build/
/OlaMundoSwing/nbproject/private/
/OlaMundoSwing/build/
/OlaMundoJavaFX2/nbproject/private/
/OlaMundoSwing/dist/
/TiposPrimitivos/nbproject/private/
/TiposPrimitivos/build/
/SomaSwing/nbproject/private/
/SomaSwing/build/
/OperadoresAritmeticos/nbproject/private/
/OperadoresAritmeticos/build/
/OperadoresSwing/nbproject/private/
/OperadoresSwing/build/
/OperadorTernario/nbproject/private/
/OperadorTernario/build/
/ProgramaMedia/nbproject/private/
/ProgramaMedia/build/
/ProgramaIdade/nbproject/private/
/ProgramaIdade2/nbproject/private/
/ProgramaIdade2/build/
/ProgramaParImparSwing/nbproject/private/
/ProgramaParImparSwing/build/
/VotacaoSwing/nbproject/private/
/VotacaoSwing/build/
/ProgramaPernas/nbproject/private/
/ProgramaPernas/build/
/Contador01/nbproject/private/
/Contador01/build/
/Contador02/nbproject/private/
/Contador02/build/
/Repeticao01/nbproject/private/
/Repeticao01/build/
/Numeros/nbproject/private/
/Numeros/build/
/RepeticaoFor/nbproject/private/
/RepeticaoFor/build/
/Vetor01/nbproject/private/
/Vetor01/build/
/Vetor02/nbproject/private/
/Vetor02/build/
/Vetor03/nbproject/private/
/Vetor03/build/
/Vetor04/nbproject/private/
/Vetor04/build/
/Vetor05/nbproject/private/
/Vetor05/build/
